[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[user]
	name = Jichuan Jiang
	email = jjczh2006@gmail.com
[color]
    ui = auto
[core]
    pager = less -FMRiX
    excludesfile = /home/jichuanj/.config/git/excludes
[push]
    default = simple
[alias]
    dag = log --graph --format='format:%C(yellow)%h%C(reset) %C(blue)\"%an\" <%ae>%C(reset) %C(magenta)%cr%C(reset)%C(auto)%d%C(reset)%n%s' --date-order
